.swiperv {
  width: fit-content;
  /* width: 500px; */
  /* background-color: aqua; */
  /* height: 200px; */
  height: fit-content;
  padding: 38px;
}

.swiper-slidev {
  background-position: center;
  background-size: cover;
  /* width: 500px; */
  background-color: red;
  /* height: 500xp; */
}
